footer {
  text-align: center;
  width: 100%;
  height: auto;
}

footer .footer-grid {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

footer .footer-grid .footer-logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

footer .footer-grid .footer-logo .lg-link {
  text-decoration: none;
}

footer .footer-grid .footer-logo .lg-link img {
  max-width: 70px;
}

footer .footer-grid .footer-logo h5 {
  font-family: bsl;
  font-size: 2rem;
  letter-spacing: .1rem;
  font-weight: 200;
}

footer .footer-grid .footer-social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .footer-grid .footer-social svg {
  max-width: 50px;
}

footer .footer-grid .footer-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .footer-grid .footer-info .mail {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .footer-grid .footer-info .mail img {
  max-width: 50px;
}

footer .footer-grid .footer-info .phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .footer-grid .footer-info .phone img {
  max-width: 50px;
}

footer .copyright {
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 730px) {
  footer {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  footer .footer-grid {
    grid-row-gap: 1.5rem;
  }
  footer .footer-grid .footer-info {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media only screen and (max-width: 360px) {
  footer .footer-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1.5rem;
  }
}
/*# sourceMappingURL=footer.css.map */